node_modules/
vendor/
build/
server-build/
artifacts/
public/
ios/
android/
patches/
cypress/
e2e/
.eslintrc.js
.prettierrc.js
babel.config.js
metro.config.js
jest.config.js
webpack.config.js
webpack.server.js
tailwind.config.ts
